
.header {
    background-color: #FFBA00 !important;
    text-align: center;
}

caption {
    font-family: 'Rock Salt', cursive;
    /* padding: 20px; */
    font-style: italic;
    caption-side: top;
    color: #210768;
    text-align: right;
    letter-spacing: 1px; 
}

table {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    border: 3px solid purple;
    text-align: center;
}

thead th:nth-child(1) {
    width: 25%;
    text-align: center;
}
  
thead th:nth-child(2) {
    width: 20%;
    text-align: center;
}
  
thead th:nth-child(3) {
    width: 40%;
}